@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    font-family: Poppins;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box {
    position: relative;
    height: 80px;
    width: 310px;
}

input {
    position: absolute;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #a8a8a8;
    height: 47px;
    padding: 0px 13px;
    transition: all .2s;
    font-size: 14px;
}

.input-box input::placeholder {
    color: transparent;
}


.input-box input:focus {
    border: 1px solid #000c7a;
}

.input-box label {
    pointer-events: none;
    position: absolute;
    top: 12.9px;
    left: 13px;
    font-size: 14px;
    transition: all .2s;
}

.input-box input:focus + label,
.input-box input:not(:placeholder-shown) + label{
  top: -10px;
  padding: 0px 6px;
  background: #fff;
  color: #000c7a;
}